/* slider-navigation */
.slidernav {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
    z-index: 1;
}
.slidernav > div,
.slidernav > div > img {
    width: inherit;
}

/* slider itself */
#sliderboxes {
    width: 640px;
    margin: 20px auto 25px;
    position : relative;
    overflow : hidden;
}
#sliderboxes div:not(.slidelabel) {
    height: 300px;
    width: 640px;
    position: relative;
}
#sliderboxes > #sliderboxes-inner {
    position : relative;
}
#sliderboxes > #sliderboxes-inner .slidelabel {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: right;
    width: 95%;
    height: auto;
    padding: 15px 2.5%;
}
#sliderboxes > #sliderboxes-inner .slidelabel h2, 
#sliderboxes > #sliderboxes-inner .slidelabel h3,
#sliderboxes > #sliderboxes-inner .slidelabel h4,
#sliderboxes > #sliderboxes-inner .slidelabel p {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}